.popup-button {
  border: none;
  width: 100%;
  overflow-x: hidden;
  text-align: center;
}

.modal-body {
  padding: 0px;
}

.table {
  margin-bottom: 0px;
}

.modal-button {
  border: none;
  letter-spacing: 3px;
  font-weight: bolder;
}

.block-user {
  color: red;
}