

.left-align {
  left: 0;
  padding: 0;
  text-align: left;
}

.centered {
  text-align: center;
  margin-top: 10px;
}


.right-align {
  text-align: right;
  margin-top: 10px;
}

.icon-margin {
  margin-left: 10px;
}

input {
  width: 100%;
  text-align: center;
}

.post-container {
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  height: auto;
  display: inline-block;
}

.user-header {
  height: 80px;
  border: 1px solid lightgrey;
  z-index: -1;
  position: relative;
  top: 4px;
}

.insta-logo {
  margin-left: 10px;
  width: 50%;
}

.user-thumbnail {
  height: 40%;
  display: inline-block;
  margin-left: 20px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.user-name {
  display: inline-block;
  margin-top: 10px;
}

.super-span {
  border: 2px solid red;
}

.comment-icons {
  margin-left: 10px;
}

.comment-input {
  border: none;
  text-align: left;
  font-size: 20px;
  padding-left: 0px;
}

.comment-button {
  float: right;
  margin-right: 0;
  border: none;
  font-weight: bold;
  letter-spacing: 2px;
}

.card-img-top {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}