.left-align {
  left: 0;
  padding: 0;
  text-align: left;
}

.centered {
  text-align: center;
  margin-top: 10px;
}


.right-align {
  text-align: right;
  margin-top: 10px;
}

.icon-margin {
  margin-left: 10px;
}

input {
  width: 100%;
  text-align: center;
}

.search-container {
  background-color: whitesmoke;
  padding-top: 15px;
  height: 10vh; 
}

.insta-logo {
  margin-left: 10px;
  width: 50%;
}

